.nav-item{
    margin-right:5px !important;
}
body{
    height: 100%;
}

.card{
	box-shadow: 0 0 40px rgba(0,0,0,.05) !important;
}

html{

}

html,body {
	height: 100%;

}

body.my-login-page {
	background-color: #f9fbfc;
	font-size: 14px;
}

.my-login-page .brand {
	width: 128px;
	height: 128px;
	overflow: hidden;
	-border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.footer {
	padding: 20px 0;
	color: #888;
	text-align: center;
	background: #eaeff8;
}

.jsoneditor-poweredBy
{
    visibility: hidden; !important;
}

.scroll 
{
	min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
}



