<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/fontawesome-all.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/jquery.dataTables.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/dataTables.bootstrap4.min.css") }}">

    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">

    <title>CNN Executor Framework</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename="images/logo_dark.png") }}">
</head>
<body>
<nav class="navbar  navbar-dark bg-primary">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
        <img src="{{ url_for('static', filename="images/logo.png") }}" height="50px"/>
        <span class="navbar-brand mb-0 font-weight-bold" style="padding-left: 10px;font-size: 25px;vertical-align: middle">CNN Executor Framework</span>
        <a href="#" class="btn btn-primary" style="float: right;" id="user"><span id="profile"></span></a>
    </a>
</nav>
<div class="alert alert-dismissible fade" role="alert" style="position: fixed;top:40px;left:30%;width:680px">
    <span id="alert-msg"></span>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Project List</li>
    </ol>
</nav>
<div class="container-fluid h-100">
    <div class="row justify-content-md-center">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div style="padding-left: 15px;margin-bottom: 20px;">

                <button type="button" class="btn btn-sm btn-primary" id="bttn-new-config"><i
                        class="fas fa-plus text-white" style="margin-right:5px"></i>New Project
                </button>
            </div>
            <div id="main-list"></div>

        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Copyrighted by <a>adeveloperdiary.com</a></span>
    </div>
</footer>

<div class="modal fade" id="addNewConfig" tabindex="-1" role="dialog" aria-labelledby="addNewConfigTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewConfigTitle">New Configuration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddNewServiceConfig">
                    <div class="form-group">
                        <label for="rowkey" class="col-form-label">Project Name:</label>
                        <input type="text" class="form-control" id="rowkey" required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="model-close">Close</button>
                <button type="button" class="btn btn-primary" id="add-new-service-config">Create
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static', filename="lib/jquery-3.3.1.min.js") }}"></script>
<script src="{{ url_for('static', filename="lib/popper.min.js") }}"></script>
<script src="{{ url_for('static', filename="lib/bootstrap.min.js") }}"></script>
<script src="{{ url_for('static', filename="lib/handlebars-v4.0.11.js") }}"></script>
<script src="{{ url_for('static', filename="lib/jquery.dataTables.min.js") }}"></script>
<script src="{{ url_for('static', filename="lib/dataTables.bootstrap4.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/common/util.js") }}"></script>

{% raw %}
<script id="service-list-template" type="text/x-handlebars-template">
    <table id="config_list" class="table table-striped table-bordered table-hover" style="width:100%">
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Last Updated</th>
        </tr>
        </thead>
        <tbody>
        {{#each configs}}
        <tr>
            <td>{{ name }}</td>
            <td>{{ created_by }}</td>
            <td>{{ created_date }}</td>
            <td>{{ modified_date }}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>

</script>

{% endraw %}


<script src="{{ url_for('static', filename="js/cnn/project_list_index.js") }}"></script>
</body>


</html>